@import "../rem-calc";

.dropdown {
  position: relative;
  display: inline-block;

  .search-result {

    display: block;
    text-align: left;
    position: absolute;
    text-overflow: ellipsis;
    color: black;
    border: black;
    border: 2px;
    background-color: rgb(220, 239, 255);
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;

    font-size: rem-calc(12);
  }

  .search-box {
    margin: 2px;
  }
}


.App-header {
  background-color: gray;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
