@import "bootstrap";
@import "../rem-calc";
.dropdown {
  @extend .dropdown;
  position: relative;
  display: inline-block;

  .search-result {
    @extend .dropdown-menu;
    display: block;
    text-align: left;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: rem-calc(12);
  }

  .search-box {
    @extend .form-control;
    margin: 2px;
  }
}


.App-header {
  background-color: gray;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
