@import "bootstrap";
@import "../rem-calc";
.dropdown {
  @extend .dropdown;
  position: relative;
  display: inline-block;

  .search-result {
    @extend .dropdown-menu;
    display: block;
    text-align: left;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: rem-calc(12);
  }

  .search-box {
    @extend .form-control;
    margin: 2px;
  }
}

.artist-box {
  @extend .form-control;
  margin: 10px;
}

.header-search-submit {
  @extend .btn-light
}

.form-container {
  display: flex
}

.form {
  display: row;
}

.App-header {
  background-color: gray;
  display: row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
