@import "../../rem-calc";

.chartEntry {
  display: block;
  border: thin solid black;
  margin: 2px;
  border-radius: 2px;
  padding-inline-start: rem-calc(5);
  padding-inline-end: rem-calc(5);
  background-color: white;
  @media screen and (min-width: 500px) {
    justify-content: center;
    max-width: 90%;
    margin: auto;
    text-align: center;
  }

  .songContainer {
    margin-top: 5px;
    background: lightgray;
    border: thin solid black;
    padding: rem-calc(2);
  }
}
